.add-url-page {
    width: 70%;
    margin: auto;
}

.shorten-link-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.shorten-button-container button {
    margin: 10px;
}

