.my-urls-container {
    display: flex;
    flex-direction: column;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.my-url-card {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: black solid 2px;
    word-break: break-word;
}

.my-url-card-type {
    margin: 10px;
}

.my-url-card-header {
    font-weight: bold;
    margin: 4px;
}