.my-urls-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.my-url-card {
    margin: 10px auto;
    border: black solid 2px;
    border-radius: 10px;
    word-break: break-word;
    width: 65%;
}

.my-url-card-type {
    margin: 10px;
}

.my-url-card-type a {
    font-weight: bold;
}

.my-url-card-header {
    margin: 4px;
    font-size: 1rem;   
    font-weight: bold; 
}

.card-buttons-container {
    display:flex;
    border-bottom: 1px solid black;
}

.card-buttons-left {
    display: flex;
    width: 30%;
}

.card-buttons-right {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}


.icon-button {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 10px;
    font-weight: bold;;
}

.card-body {
    padding: 10px;
}

.card-section {
    margin: 10px;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}
